
section{
   flex: 1;
   a{
       width: 100%;
       img{
           width: 100%;
       }
   } 
   .nav{
       width: 100%;
       display: flex;
       background: rgb(53, 51, 51);
       a{
           width: 50%;
           color: #000;
           font-size: 14px;
           text-align: center;
           color: #fff;
           padding: 10px 0;
       } 
   }
}
.input{
    background: #666;
    height: 50%;
    line-height: 22px;
    color: #ccc;
    font-size: 12px;
    flex: 1;
    border: 0;
    border-radius: 10px;
    text-indent: 50px;
    margin:10px;
}