.my {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  background: #353333;
}

.header .myMusic {
  color: aliceblue;
}

.list ul li {
  width: 100%;
  height: 44px;
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.list ul li p {
  display: flex;
}

.list ul li span {
  display: block;
}

.list ul li :first-child span {
  font-size: 16px;
  margin-left: 10px;
}

.list ul li :last-child span {
  color: #666;
}

.create .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.create .top span {
  margin-left: 5px;
}

dl {
  margin-top: 20px;
}
